@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bebas Neue";
}

#movie-quote {
  margin: auto;
  width: 50%;
  }

#movie-quote p {
  display: flex;
  justify-content: center;
  color: white;
}

.poster-image {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  background-size: 300px;
  justify-content: center;  }

.poster-title {
  padding: 5px;
  position: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-top: 8px;
}

.movie-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 3px;
  
}

.movie-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 3px;
  border: solid 2px black;
}

#correct-or-incorrect {
  font-size: 24px;
  display: flex;
  padding: 3px;
  position: center;
  justify-content: center;
  text-align: center;
  color: lightgray;
}

#current-stats {
  display: flex;
  padding: 3px;
  position: center;
  justify-content: center;
  text-align: center;
  color: lightgray;
}

#expertise {
  display: flex;
  padding: 3px;
  position: center;
  justify-content: center;
  text-align: center;
  color: lightgray;
}
