@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bebas Neue";
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
